Repository KabGo-Capstone/KabGo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-supply-service-job, run-build-all-server-service-job

.circleci/config.yml:

version: 2.1

setup: true

orbs:
    path-filtering: circleci/path-filtering@0.1.1

workflows:
    detect-commit-changes:
        jobs:
            - path-filtering/filter:
                  name: check-updated-files
                  mapping: |
                      servers/supply/.* run-build-supply-service-job true
                      servers/protos/.* run-build-all-server-service-job true
                  base-revision: main
                  config-path: .circleci/continue_config.yml

test clean ci
  .circleci/continue_config.yml
Due: none

test clean ci
  .circleci/continue_config.yml
  docker-compose/docker-compose-prod.yml
Due: none

test clean ci
  .circleci/continue_config.yml
  scripts/deploy.sh
  servers/supply/protos/demand.proto
  servers/supply/protos/supply.proto
Due: run-build-supply-service-job

update demand for test ci/cd and also supply
  .circleci/config.yml
  servers/demand/server.ts
  servers/supply/server.ts
Due: run-build-supply-service-job

update demand for test ci/cd and also supply
  servers/demand/common/utils/validators/phonenumber.decorator.ts
Due: none

update demand for test ci/cd and also supply
  servers/demand/server.ts
  servers/supply/server.ts
Due: run-build-supply-service-job

update demand for test ci/cd and also supply
  .circleci/continue_config.yml
  .circleci/demmand.yml
  servers/protos/demand.proto
Due: run-build-all-server-service-job

update demand for test ci/cd and also supply
  servers/protos/demand.proto
Due: run-build-all-server-service-job

update compose
  docker-compose/docker-compose.yml
  servers/demand/common/models/user.example.model.ts
  servers/demand/package.json
  servers/supply/common/models/user.example.model.ts
  servers/supply/package-lock.json
  servers/supply/package.json
Due: run-build-supply-service-job

update grpc using protobuf
  .circleci/continue_config.yml
  servers/.gitignore
  servers/demand/Dockerfile.production
  servers/demand/common/app.ts
  servers/demand/common/protos/customers.proto.ts
  servers/demand/common/protos/index.ts
  servers/demand/common/services/grpc.ts
  servers/demand/common/services/supply.service.ts
  servers/demand/package-lock.json
  servers/demand/package.json
  servers/demand/protos/demand.proto
  servers/demand/protos/supply.proto
  servers/demand/server.ts
  servers/grpc/build.sh
  servers/grpc/proto_pb/demand/demand_grpc_pb.d.ts
  servers/grpc/proto_pb/demand/demand_grpc_pb.js
  servers/grpc/proto_pb/demand/demand_pb.d.ts
  servers/grpc/proto_pb/demand/demand_pb.js
  servers/grpc/proto_pb/supply/supply_grpc_pb.d.ts
  servers/grpc/proto_pb/supply/supply_grpc_pb.js
  servers/grpc/proto_pb/supply/supply_pb.d.ts
  servers/grpc/proto_pb/supply/supply_pb.js
  servers/grpc/protos/demand.proto
  servers/grpc/protos/supply.proto
  servers/package-lock.json
  servers/package.json
  servers/supply/Dockerfile.production
  servers/supply/common/app.ts
  servers/supply/common/protos/drivers.proto.ts
  servers/supply/common/protos/index.ts
  servers/supply/common/services/demand.service.ts
  servers/supply/common/services/grpc.ts
  servers/supply/package-lock.json
  servers/supply/package.json
  servers/supply/server.ts
Due: run-build-supply-service-job

update grpc using protobuf
  .circleci/continue_config.yml
  servers/demand/.eslintrc.json
  servers/supply/.eslintrc.json
Due: run-build-supply-service-job

update grpc using protobuf
  .circleci/continue_config.yml
  servers/demand/Dockerfile.production
  servers/supply/Dockerfile.production
  servers/supply/dist/common/app.js
  servers/supply/dist/common/models/user.example.model.js
  servers/supply/dist/common/protos/drivers.proto.js
  servers/supply/dist/common/services/demand.service.js
  servers/supply/dist/common/services/grpc.js
  servers/supply/dist/server.js
Due: run-build-supply-service-job

update grpc using protobuf
  .circleci/continue_config.yml
  servers/demand/Dockerfile.production
Due: none

update grpc using protobuf
  .circleci/continue_config.yml
  servers/demand/Dockerfile.production
  servers/supply/Dockerfile.production
Due: run-build-supply-service-job

update grpc using protobuf
  servers/supply/Dockerfile.production
Due: run-build-supply-service-job

add grpc and build
  .circleci/continue_config.yml
  servers/demand/Dockerfile.production
  servers/demand/tsconfig.json
  servers/supply/Dockerfile.production
  servers/supply/grpc/build.sh
  servers/supply/grpc/package-lock.json
  servers/supply/grpc/package.json
  servers/supply/grpc/proto_pb/demand/demand_grpc_pb.d.ts
  servers/supply/grpc/proto_pb/demand/demand_grpc_pb.js
  servers/supply/grpc/proto_pb/demand/demand_pb.d.ts
  servers/supply/grpc/proto_pb/demand/demand_pb.js
  servers/supply/grpc/proto_pb/supply/supply_grpc_pb.d.ts
  servers/supply/grpc/proto_pb/supply/supply_grpc_pb.js
  servers/supply/grpc/proto_pb/supply/supply_pb.d.ts
  servers/supply/grpc/proto_pb/supply/supply_pb.js
  servers/supply/grpc/protos/demand.proto
  servers/supply/grpc/protos/supply.proto
  servers/supply/tsconfig.json
Due: run-build-supply-service-job

add grpc and build
  servers/demand/Dockerfile.production
  servers/supply/Dockerfile.production
Due: run-build-supply-service-job

add grpc and build
  .circleci/continue_config.yml
  servers/grpc/build.sh
Due: none

add grpc and build
  servers/grpc/build.sh
Due: none

add grpc and build
  servers/demand/Dockerfile.production
  servers/grpc/build.sh
  servers/supply/Dockerfile.production
  servers/supply/grpc/build.sh
  servers/supply/grpc/package-lock.json
  servers/supply/grpc/package.json
  servers/supply/grpc/proto_pb/demand/demand_grpc_pb.d.ts
  servers/supply/grpc/proto_pb/demand/demand_grpc_pb.js
  servers/supply/grpc/proto_pb/demand/demand_pb.d.ts
  servers/supply/grpc/proto_pb/demand/demand_pb.js
  servers/supply/grpc/proto_pb/supply/supply_grpc_pb.d.ts
  servers/supply/grpc/proto_pb/supply/supply_grpc_pb.js
  servers/supply/grpc/proto_pb/supply/supply_pb.d.ts
  servers/supply/grpc/proto_pb/supply/supply_pb.js
  servers/supply/grpc/protos/demand.proto
  servers/supply/grpc/protos/supply.proto
Due: run-build-supply-service-job

add grpc and build
  .circleci/continue_config.yml
Due: none
